<h3>Qual a quantia que você deseja juntar?</h3>
<div class="row">
    <div class="col form-group mt-3">
        <input type="text" class="form-control" style="height: 50px;" placeholder="ex. R$ 5.000,00" />
    </div>
</div>
<div class="w-100 mt-5 d-flex justify-content-center">
    <div class="c-button c-button-secondary d-flex justify-content-center align-items-center rounded-pill py-2 px-4"
        style="width: 200px;" (click)="voltarAction()">
        <span style="color: #15c1c4;" >Voltar</span>
    </div>
    <div class="c-button c-button-primary ml-3 d-flex justify-content-center align-items-center rounded-pill py-2 px-4"
        style="width: 200px;" (click)="avancarAction()">
        <span class="text-white">Avançar</span>
    </div>
</div>