<div class="c-tudo">
    <div class="c-header shadow d-flex justify-content-center">
        <div class="d-flex align-items-center w-100" style="max-width: 1000px;">
            <img height="40" src="assets/gorila-logo.png" />
            <div class="ml-auto align-self-stretch d-flex justify-content-center align-items-center"
                style="width: 100px; color: #15c1c4;">
                <i class="material-icons">add_circle_outline</i>
            </div>
            <div class="align-self-stretch d-flex justify-content-center align-items-center"
                style="background-color: #8B6BEF; width: 100px;">
                <h3 class="text-white">GS</h3>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center" style="margin-top: 100px; height: 100%;" >
        <div class="w-100" style="max-width: 1000px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>