<div class="card shadow p-5 w-100" style="max-width: 550px;">
  <div class="d-flex justify-content-center">
    <h3>Acesse sua conta da Gorila</h3>
  </div>
  <div class="d-flex justify-content-between align-items-center rounded-pill px-4 mt-5"
    style="height: 50px; background-color: #3b5998;">
    <img height="40px" src="assets/facebook-mini.png" />
    <span class="text-white">Entrar com Facebook</span>
    <div></div>
  </div>
  <div class="d-flex align-items-center mt-4">
    <div class="flex-grow-1 d-flex align-items-center bg-primary">
      <div class="w-100 bg-secondary" style="height: 2px;"></div>
    </div>
    <div class="mx-2">OU</div>
    <div class="flex-grow-1 d-flex align-items-center bg-primary">
      <div class="w-100 bg-secondary" style="height: 2px;"></div>
    </div>
  </div>
  <div class="form-group">
    <input type="email" class="form-control mt-4" style="height: 50px;" placeholder="Seu e-mail">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" style="height: 50px;" placeholder="Sua senha">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="permanecerLogado">
    <label class="form-check-label" for="permanecerLogado">Permanecer logado</label>
  </div>
  <div class="d-flex justify-content-center align-items-center rounded-pill py-2 px-4"
    style="background-color: #15c1c4; height: 50px;">
    <span class="text-white">Entrar</span>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <span style="color: #15c1c4;">Esqueci minha senha</span>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <span>Não possui conta na Gorila?</span><span class="ml-2" style="color: #15c1c4;">Criar conta</span>
  </div>
</div>