<div class="container-fluid">


  <div class="row">

    <div class="border-0">
      <img src="../../../assets/2020-05-03_10-07-min.png" class="img-fluid float-left" alt="">
    </div>

    <div class="col bg border-0">
      <div class="text-right pt-4 pr-5">
        <span>Não possui conta no Gorila? Criar Conta</span>
      </div>

      <div class="row">
        <div class="col-10">
          <br><br><br><br>
          <div class="offset-3 pl-3 mb-4">
            <h3>Acesse sua conta do Gorila</h3>
            <h6>Insira seus dados abaixo</h6>
          </div>



          <form>
            <div class="form-group col-6 offset-3">
              <small for=inputEmail>Email</small>
              <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="gorila@email.com">
            </div>
            <div class="form-group col-6 offset-3">
              <small for=inputSenha>Senha</small>
              <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Senha">
            </div>

            <button class="btn btn-secondary offset-5 btnEntrar" type="submit">Entrar</button>

          </form>
        </div>
      </div>
    </div>


  </div>
