<h3>Vamos dar um nome para o seu desafio?</h3>
<div class="row">
    <div class="col form-group mt-3">
        <input type="text" class="form-control" style="height: 50px;" placeholder="ex. Viagem para Olinda" />
    </div>
</div>
<div class="row justify-content-center">
    <div class="c-button c-button-primary mt-5 d-flex justify-content-center align-items-center rounded-pill py-2 px-4" style="width: 200px;" (click)="avancarAction()">
        <span class="text-white">Avançar</span>
    </div>
</div>