<h3>Deseja convidar alguém pra se juntar ao seu objetivo?</h3>
<div class="row">
    <div class="col form-group mt-3">
        <input type="text" class="form-control" style="height: 50px;" placeholder="ex. email@email.com" />
        <small class="form-text text-muted">*Dica: Separe com vírgulas para convidar mais pessoas</small>
    </div>
</div>
<div class="w-100 mt-5 d-flex justify-content-center">
    <div class="c-button c-button-secondary d-flex justify-content-center align-items-center rounded-pill py-2 px-4"
        style="width: 200px;" (click)="voltarAction()">
        <span style="color: #15c1c4;" >Voltar</span>
    </div>
    <div class="c-button c-button-primary ml-3 d-flex justify-content-center align-items-center rounded-pill py-2 px-4"
        style="width: 200px;" (click)="avancarAction()">
        <span class="text-white">Avançar</span>
    </div>
</div>