<div class="card shadow p-5 w-100" style="max-width: 550px;">
    <div class="d-flex justify-content-center">
      <h3>Crie sua conta na Gorila</h3>
    </div>
    <div class="c-button c-button-facebook d-flex justify-content-between align-items-center rounded-pill px-4 mt-5" (click)="entrarAction()">
      <img height="40px" src="assets/facebook-mini.png" />
      <span class="text-white">Entrar com Facebook</span>
      <div></div>
    </div>
    <div class="form-group mt-4">
        <input type="text" class="form-control" style="height: 50px;" placeholder="Seu nome completo">
      </div>
    <div class="form-group">
      <input type="email" class="form-control" style="height: 50px;" placeholder="Seu e-mail">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" style="height: 50px;" placeholder="Sua senha">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" style="height: 50px;" placeholder="Confirmar sua senha">
      </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="aceiteTermos">
      <label class="form-check-label" for="aceiteTermos">Aceito os <span style="color: #15c1c4;">Termos de serviço</span> e <span style="color: #15c1c4;">Politica de privacidade</span></label>
    </div>
    <div class="c-button c-button-primary d-flex justify-content-center align-items-center rounded-pill py-2 px-4" (click)="cadastrarAction()">
      <span class="text-white">Cadastrar</span>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <span>Já possui conta na Gorila?</span><span class="ml-2 c-link" (click)="cadastrarAction()">Entrar</span>
    </div>
  </div>